
.section {
    height: 768px;
    background-color: #2c1e4a;
    overflow: hidden;
    position: relative;
}

.section .background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.section:nth-child(even) .background {
    transform: scale(1, -1);
}

.section .background .imageContainer {
    width: 100%;
    height: 133.33%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.7;
    animation: auto ease 0s 1 normal none running none;
}

.section .background .imageContainer img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}